//=================================
// Font-sizeについて
// bodyやhtml要素でfont-sizeを62.5%にしておくと基準が16pxの62.5%、つまり10pxになります。 
// こうすることで、ちょうど1em=10pxになり、18pxにしたいなあと思うなら1.8emと書けば良いし、
// 24pxにしたいなら2.4emと書けば良いので計算がしやすいわけです。
// 「rem」 は常にhtml 要素のフォントサイズを基準にするので基本的にremを使いましょう。
// https://www.esz.co.jp/blog/28.html
//=================================
html
    font-family base_font_family
    font-weight 300
    line-height 1.5
    font-size 62.5%
    background body_background_color
    color base_text_color
    -webkit-touch-callout: none
    -webkit-text-size-adjust 100%
    -webkit-tap-highlight-color transparent
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    height: 100%;
    width:100%;
body
    margin 0
    padding 0
    user-select none
    height: 100%;
    width:100%;
    font-size:1.4rem;
    overscroll-behavior: none;
a
    cursor pointer
    text-decoration none