// https://chaika.hatenablog.com/entry/2016/11/30/114217
// カラーパレットをオブジェクトで作成
color-palette = {
  default: {
    color:      #555,
    base:       #eee,
    border:     #e2e2e2,
    dark:       #d5d5d5,
    border_dk:  #c3c3c3,
    darker:     #C8C8C8,
    border_dkr: #c3c3c3,
  },
  primary: {
    color:      #fff,
    base:       #158cba,
    border:     #127ba3,
    dark:       #127ba3,
    border_dk:  #0c516c,
    darker:     #106a8c,
    border_dkr: #0c516c,
  },
  success: {
    color:      #fff,
    base:       #28b62c,
    border:     #23a127,
    dark:       #28b62c,
    border_dk:  #23a127,
    darker:     #1f8c22,
    border_dkr: #186f1b,
  },
  info: {
    color:     #fff,
    base:      #75caeb,
    border:    #5fc1e8,
    dark:      #75caeb,
    border_dk: #5fc1e8,
    darker:     #48b9e5,
    border_dkr: #29ade0,
  },
  warning: {
    color:     #fff,
    base:      #ff851b,
    border:    #ff7701,
    dark:      #ff851b,
    border_dk: #ff7701,
    darker:     #e76b00,
    border_dkr: #c35b00,
  },
  danger: {
    color:     #fff,
    base:      #ff4136,
    border:    #ff291c,
    dark:      #ff291c,
    border_dk: #ff291c,
    darker:    #ff1103,
    border_atr:#de0c00,
  }
}

//あとで色々決めるンゴね

accent_color = #2660A4
body_background_color = #FFF
//link_color = #2660A4
link_color = #70C43B

// ==========================================================================
// Common
// Color Schemeは以下のサイトを使うと便利
// https://coolors.co/50a5bd-eef1ef-2660a4-022f40-fe586f
// https://coolors.co/6a8d9d-114b5f-f9c80e-ea3546-e8e8e8
// ==========================================================================
base_text_color = #868686
base_main_text_color = #868686
base_effect_text_color = #DE5842

base_alter_background_color = #ECEDED
base_alter_text_color = #6A8D9D

base_text_emphasis_color = #F9C80E

//alert_color = #2660A4
alert_color = #70C43B

alert_inner_text_color = #FFF

border_color = #DBDBDB

base_logo_color = #DF0505;
// ==========================================================================
// Header
// ==========================================================================
header_logo_color = rgb(249, 87, 89)
header_background_color = #FFF
header_brd_color = #FFF
header_text_color = #6A8D9D
header_menu_text_color = #6A8D9D
// ==========================================================================
// Footer
// ==========================================================================
footer_background_color = #114B5F
footer_brd_color = #E5E5E5
footer_text_color = #FFF
// ==========================================================================
// Landing
// ==========================================================================
catch_title_color = #FFF