// ==========================================================================
// Foundation
// ==========================================================================
base_font_family = 'Noto Sans JP', sans-serif
logo_font_family = 'Source Sans Pro', sans-serif

// ==========================================================================
// Layout
// ==========================================================================
topbar_height = 25px
radius = 20px
header_height = 60px
footer_height = 100px

base_padding = 20px
base_margin = 20px
menu_margin = 25px

text_box_padding = 15px